<!doctype html>
<html lang="en" class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../statics/favicon3.webp"
      type="image/x-icon"
    />
    <title>URL Shortener | Create and Share Short URL | Shorten URL</title>
    {% if tailwind_css %}
    <script src="https://cdn.tailwindcss.com">
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              serif: [
                "ui-serif",
                "Georgia",
                "Cambria",
                "Times New Roman",
                "Times",
                "serif",
              ],
            },
          },
        },
      }
    </script>
    {% endif %} {% if css_file %}
    <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}" />
    {% endif %}
  </head>
  <body
    class="h-full flex items-center justify-center relative overflow-hidden"
    style="background-color: rgb(241, 245, 249)"
  >
    <div id="whole-form-div" class="w-full max-w-[512px]">
      <div id="top-part-div" class="flex items-center flex-col mb-8">
        <div
          class="py-2 px-4 bg-red-800 flex items-center border-solid border-[1px] border-gray-300 bg-white gap-[8px] rounded-full text-sm mb-2"
        >
          <svg
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-link2 h-5 w-5 text-primary"
          >
            <path d="M9 17H7A5 5 0 0 1 7 7h2"></path>
            <path d="M15 7h2a5 5 0 1 1 0 10h-2"></path>
            <line x1="8" x2="16" y1="12" y2="12"></line>
          </svg>
          <div>URL Shortener</div>
        </div>
        <div id="h1-div" class="mb-2" style="font-size: 36px">
          <h1 class="font-serif font-bold">Shorten Your Links</h1>
        </div>
        <div>
          <p>Transform long URLs into short, shareable links</p>
        </div>
      </div>
      <div
        class="flex flex-col p-6 w-full border-solid border-[1px] border-gray-300 bg-[#faf8fc]"
        id="sumbit-form-div"
      >
        <div
          class="bg-red-100 p-4 border-[rgba(219,36,36,0.3)] border-[1px] border-solid mb-4 hidden"
          id="error-div"
        >
          <div class="flex gap-2">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-alert mt-0.5 h-5 w-5 flex-shrink-0 text-destructive text-[rgb(219,36,36)]"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" x2="12" y1="8" y2="12"></line>
                <line x1="12" x2="12.01" y1="16" y2="16"></line>
              </svg>
            </div>
            <div class="flex flex-col">
              <p class="text-red-500 capitalize" id="top-error-p">error</p>
              <p class="text-[rgba(219,36,36,0.8)] text-sm" id="under-error-p">
                Please enter a URL
              </p>
            </div>
          </div>
        </div>
        <label for="" id="enter-your-url-label" class="mb-2 none text-sm"
          >Enter your URL</label
        >
        <div class="w-full flex gap-2" id="input-div">
          <input
            type="text"
            placeholder="https://example.com/very-long-url..."
            class="border-solid border-[1px] h-12 border-gray-300 px-3 w-full py-2 bg-[#F1F5F9] focus-visible:ring-2 ring-[#36404f] outline-none"
            id="url-input"
          />
          <button
            id="copy-btn"
            class="bg-[rgb(70,84,103)] hidden py-2 px-4 capitalize text-white flex justify-center gap-2 items-center hover:bg-[rgba(54,64,79,0.9)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-copy h-4 w-4"
            >
              <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
              <path
                d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
              ></path>
            </svg>
            copy
          </button>
        </div>
        <div
          class="mt-4 pt-4 border-t border-t-[rgb(229, 231, 235)] border-t-[1px] flex flex-col hidden"
          id="original-url-div"
        >
          <div class="capitalize text-xs mb-1">Original URL</div>
          <div id="original-url" class="text-sm"></div>
        </div>
        <div class="w-full mt-4 text-sm" id="button-div">
          <button
            class="bg-[#36404f] h-12 w-full py-2 px-4 text-white items-center flex justify-center gap-2 items-center hover:bg-[rgba(54,64,79,0.9)]"
            data-style-a="bg-[#36404f] h-12 w-full py-2 px-4 text-white items-center flex justify-center gap-2 items-center hover:bg-[rgba(54,64,79,0.9)]"
            data-style-b="flex gap-2 py-2 hover:text-[rgba(54,64,79,0.8)] items-center justify-center w-full text-black"
            id="submit-btn"
          >
            Generate short URL
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-right h-4 w-4"
            >
              <path d="M5 12h14"></path>
              <path d="m12 5 7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </div>
      <p class="text-xs text-center mt-6">
        Fast, simple, and secure URL shortening
      </p>
    </div>
    <div
      id="copied-successfly-msg-div"
      class="transform transition-transform duration-500 ease-in-out translate-y-full absolute bottom-0 bg-[rgb(241,245,249)] flex items-center gap-2 right-10 p-4 z-1000 font-600 text-[13px] max-w-[360px] w-full rounded-md shadow-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        height="20"
        width="20"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        ></path>
      </svg>
      Copied to Clipboard!
    </div>
    <!-- <div class="display-error-div">
      <p class="bad-or-good-p">Oops!</p>
      <p class="error-p">email message</p>
    </div>
    <div id="my-form">
      <div id="submit-div">
        <input type="text" id="url-input" />
        <button id="submit-button" type="button">shorten url</button>
      </div>
      <div id="a-div"></div>
      <div id="button-div"></div>
    </div> -->

    {% block body %}{% endblock %} {% if file %}
    <script src="{{ url_for('static', filename='js_statics/'+file) }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.15.15/validator.min.js"></script>
    {% endif %}
  </body>
</html>
