<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% if css_file %}
    <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}" />
    {% endif %}
  </head>
  <body>
    <div class="display-error-div">
      <p class="bad-or-good-p">Oops!</p>
      <p class="error-p">email message</p>
    </div>
    <div id="my-form">
      <!--  did not use a form here becuase it just sends data and i don't want this -->
      <div id="submit-div">
        <input type="text" id="url-input" />
        <button id="submit-button" type="button">shorten url</button>
      </div>
      <div id="a-div"></div>
      <div id="button-div"></div>
    </div>

    {% block body %}{% endblock %} {% if file %}
    <script src="{{ url_for('static', filename='js_statics/'+file) }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.15.15/validator.min.js"></script>
    {% endif %}
  </body>
</html>
